<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alimony</title>
</head>
<body>

  <ul class="sidebar-nav">
 {% csrf_token %}
    …

   {% if user.is_authenticated %}
     <li>User: {{ user.get_username }}</li>
     <li><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></li>
   {% else %}
     <li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
   {% endif %}
  </ul>


    <form method="POST" action="{% url 'upload' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}

    <button> Submit </button>
    </form>


</body>
</html>


